.important {
  color: #0001ff;
  font-weight: bold;}

  h1{
    font-style:italic;
    text-align:center;
  }
p{
  front-family: sans-serif;
}

ul{
  font-size: 20px;
  line-height:30px;

}
.best{
  background-color: red;
}
.best-img{
  float:right;
  width: 300px;
}
.flashy {
  color: red;
  font-style: italic;
}
.flashy-ul {
  background-color: green;
}

.white{
  color: white;
}

.yellow{
  color: yellow;
}

.green{
  color: darkgreen;
}
